.textarea {
	outline: none;
	resize: none;
	overflow: hidden;
}

.textarea:hover {
	background-color: var(--bg-color-medium);
}

.textarea:focus {
	background-color: var(--bg-color-medium);
}

.p {
	font-size: 16px;
}

.h1 {
	font-size: 28px;
	font-weight: 700;
}

.h2, .h3, .h4, .h5, .h6 {
	font-size: 24px;
}